<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>https://core.apps.192.168.1.129.nip.io:8043</string>
	<key>appid</key>
	<string>6jbwruapwq4jhq562zlilq54</string>
	<key>projectid</key>
	<string>6jbwrua726upocrk5pkdhsod</string>
	<key>appkey</key>
	<string>3cb03cf339d19c552cc7c9192f3842fe84a7f474</string>
	<key>connectiontag</key>
	<string>0.0.1</string>
</dict>
</plist>
