<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>https://core.apps.192.168.1.139.nip.io:8043</string>
	<key>appid</key>
	<string>j6kjj67zxm3hrfsk35rgeoej</string>
	<key>projectid</key>
	<string>j6kjj6yt6cw33wecw3zaqafw</string>
	<key>appkey</key>
	<string>2d980b860f473c85b74be917c20d5c9ef5e344e</string>
	<key>connectiontag</key>
	<string>0.0.1</string>
</dict>
</plist>
